@import "tailwindcss";

.slider-container {
  overflow: hidden;
  width: 100%;
}

.slider-text {
  display: inline-block;
  white-space: nowrap;
  animation: slidePause 10s linear infinite;
}

@keyframes slidePause {
  0% {
    transform: translateX(100vw);
  }

  20% {
    transform: translateX(0);
  }

  70% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}